:root {
    --pad-width: 80px;
    --pad-height: 80px;
}

* {
    margin: 0;
    padding: 0;
}

#app-container {
    padding: 10% 0;
}

#drum-machine {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    border: 3px solid black;
}

#pad-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 40%;
    border: 1px solid green;
}

.drum-pad {
    border-radius: 10%;
    margin: 10px;
    width: var(--pad-width);
    height: var(--pad-height);
}

.drum-pad:hover {
    background-color: blanchedalmond;
}