:root {
    --pad-width: 100px;
    --pad-height: 80px;
}

* {
    margin: 0;
    padding: 0;
}

#app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drum-machine {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 500px;
    border: 3px solid black;
}

#pad-grid {
    display: grid;
    grid-template-columns: var(--pad-width) var(--pad-width) var(--pad-width);
    grid-template-rows: var(--pad-height) var(--pad-height) var(--pad-height);
}

#control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: calc(var(--pad-width) * 3);
    border: 1px solid green;
}

.drum-pad {
    border-radius: 10%;
    width: var(--pad-width);
    height: var(--pad-height);
}

.drum-pad:hover {
    background-color: blanchedalmond;
}

@media screen and (max-width: 850px) {

    #drum-machine {
        flex-direction: column-reverse;
    }

}