:root {
    --pad-width: 80px;
    --pad-height: 80px;
}

body {
    font-family: Verdana, sans-serif;
}



#drum-machine {
    display: flex;
    flex-direction: row;
}

#pad-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}


.drum-pad {
    border-radius: 10%;
    margin: 10px;
    width: var(--pad-width);
    height: var(--pad-height);
}

.drum-pad:hover {
    background-color: blanchedalmond;
}